<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.p3lb.cafex">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="cafex."
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--Menu Produk-->

        <activity android:name=".MenuTransaksi.TampilDataMenu"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuTransaksi.TambahSelectMenu"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuTransaksi.TampilCheckoutMenu"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuTransaksi.TransaksiHistory"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuProduk.TampilDataProduk"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuAuth.DetailRegistrasi"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuAuth.ProfileUser"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuDiskon.TambahDiskon"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuDiskon.TampilDiskon"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuDiskon.EditDiskon"/>
        <activity android:name=".MenuProduk.TambahDataProduk"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuCabang.TambahCabang"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuCabang.TampilCabang"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuCabang.EditCabang"/>
        <activity android:name=".MenuProduk.EditDataProduk"/>
        <activity android:name=".MenuRefund.TampilRefund"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuUser.TampilUser"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuUser.EditUser"/>
        <activity android:name=".MenuInventori.TampilInventori"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuInventori.TampilDetailInventori"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuInventori.TambahBahanbaku"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuInventori.KeluarkanBahanbaku"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!--Authentication Login dan Register-->
        <activity android:name=".MenuAuth.Dashboard"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuAuth.TampilRegistrasi"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuAuth.RegistrasiUser"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuAuth.LoginAdmin"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuAuth.LoginKasir"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuAuth.VerifikasiPassword"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuAuth.LupaPassword"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuAuth.ResetPassword"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ApplicationClass"/>
        <activity android:name=".PrintoothActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuLaporan.LaporanPendapatanBulanan"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuLaporan.LaporanPendapatanTahunan"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuLaporan.LaporanActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".MenuAuth.LoginKasir"-->
<!--            android:theme="@style/AppTheme.NoActionBar">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

    </application>

</manifest>